div {
  background-color: red;
  width: 65px;
  height: 65px;
  border: 1px solid black;
  margin-bottom: 30px;
  margin-left: 10px;
  background-clip: content-box;
}

/* DON'T change CSS above here! */

/* But you CAN add CSS below. */

/* (Even CSS that overrides the CSS above!) */

.first {
padding: 5px;
width: 50px;
height: 50px;
}

.second {
  width: 50px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 35px;
  padding-right: 35px;
  margin-left: 35px;
  margin-bottom: 350px;
}

.third {
  width: 50px;
  height: 50px;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 24px;
  margin-bottom: -.1rem
}

.fourth{
  width: 50px;
  height: 50px;
  padding-top: 5px;
  padding-bottom: 15px;
  padding-left: 100px;
  padding-right: 60px;
}

.fifth {
text-align: center;
padding: 10px;
margin: auto}

